{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"/>
    <link rel="stylesheet" href="/static/styles/bookingFormStyle.css"/>
    <title>Booking</title>
</head>

<body>
<form action="" method="post">
    {% csrf_token %}
    {% for message in messages %}
    <li>
        <div class="alert alert-danger">{{message}}</div>
    </li>
    {% endfor %}
    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="booking-form">
                        <div class="form-header">
                            <h1>Make your Booking</h1>
                            <input class="form-control" type="text" value="{% if request.session.pkg_title %}{{request.session.pkg_title}}
                                        {% endif %}" name="title" style="display:none" />
                        </div>
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">First Name</span>
                                        <input class="form-control" type="text" placeholder="First Name"
                                        
                                        value="{{request.user.first_name}}"
                                         name="firstName" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Last Name</span>
                                        <input class="form-control" type="text" placeholder="Last Name"
                                        value="{{request.user.last_name}}"
                                               name="lastName" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="From" value="{% if request.session.pkg_from %}{{request.session.pkg_from}}
                                        {% endif %}"
                                               name="fromCity" readonly/>
                                        <span class="form-label">From</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" value="{% if request.session.pkg_to %}{{request.session.pkg_to}}
                                        {% endif %}" name="toCity" readonly />

                                        <span class="form-label">To</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" required name="depatureDate" value="{% if request.session.dep_date %}{{request.session.dep_date}}
                                        {% endif %}" readonly/>
                                        <span class="form-label">Departure Date</span>
                                    </div>
                                </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="days" value="{% if request.session.pkg_days %}{{request.session.pkg_days}}{% endif %}"  readonly/>
                                        <span class="form-label">Days</span>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <select class="form-control" name="noOfRooms" required>
                                            <option value="" selected hidden>no of rooms</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                        <span class="form-label">Rooms</span>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <select class="form-control" id="adults" name="noOfAdults" required>
                                            <option value="" selected hidden>no of adults</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                            <option>11</option>
                                            <option>12</option>
                                            <option>13</option>
                                            <option>14</option>
                                            <option>15</option>
                                            <option>16</option>
                                            <option>17</option>
                                            <option>18</option>
                                            <option>19</option>
                                            <option>20</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                        <span class="form-label">Adults</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <select class="form-control" name="noOfChildren" required>
                                            <option value="" selected hidden>no of children</option>
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                        <span class="form-label">Children</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="email" placeholder="Enter your Email"
                                               name="email"/>
                                        <span class="form-label">Email</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="tel" placeholder="Enter you Phone"
                                        value="{% if request.session.Phoneno %}{{request.session.Phoneno}}
                                        {% endif %}" name="phoneNo"/>
                                        <span class="form-label">Phone</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" value="Rs.{% if request.session.pkg_price %}{{request.session.pkg_price}}
                                        {% endif %}" name="" />
                                        <span class="form-label">Price Per Person</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" id="total" type="text" 
                                               name="totalAmount" value={% if request.session.pkg_price %}
                                               {{request.session.pkg_price}}
                                               {% endif %}/>
                                        <span class="form-label">Total Amount</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-btn">
                                <button class="submit-btn">Book Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    var selectElement = document.getElementById("adult");
    var textElement = document.getElementById("total");
    price=request.session['pkg_price']

    selectElement.addEventListener("change", function() {
        var selectedValue = selectElement.value;
        textElement.value=price*selectedValue
        
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>