{% extends 'main.html' %}
{%load static%}
{% block content %}


    <!-- Menu -->

    

    <!-- Home -->

    <div class="home-1">
        <div class="background_image" style="background-image:linear-gradient(#00000094, #0000001c, #0000001a,transparent),url({% static 'images/bg3.jpg' %});
        background-position: center;"></div>

        <div class="position-abolute w-90 mx-auto" style="z-index:100;width:60%;top: 50%;">
            <h2 class="text-center py-2 text-dark" style="font-size:3vw">Explore more packages</h2>
            <form action="search" method="get" class="d-flex">
                {% csrf_token %}
                <input class="form-control border-0 rounded-pill px-4 w-100 py-3 ps-4 pe-5" type="text" placeholder="Eg: Manali" name='q' required>
                <button type="submit" class="btn btn-primary rounded-pill py-2 px-4 position-absolute top-0 end-0 me-2" style="margin-top: 7px;margin-right:0.5rem;right:0px;font-weight:900">Search</button>
            </form>
        </div>

    </div>

    <!-- Search -->

    {% comment %} <div class="home_search">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_search_container">
                        <div class="home_search_title" style="font-size:1.5rem;">Search for your trip</div>
                        <div class="home_search_content">
                            <form action="search" class="home_search_form" id="home_search_form" style="font-size:1.5rem">
                                <div
                                    class="d-flex flex-lg-row flex-column align-items-center justify-content-lg-between justify-content-start">
                                    <input type="text" name="q" class="search_input search_input_1" placeholder="Destination"
                                        required="required">
                                        <p style="text-align:center;margin-bottom:0;">OR</p>
                                    <input type="text" name="min_price" class="search_input search_input_3" placeholder="min price">
                                    <p style="text-align:center">OR</p>

                                    <input type="text" name="max_price" class="search_input search_input_4" placeholder="max price">
                                    <button type="submit" class="home_search_button">search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    

    <!-- Destinations -->

    <div class="destinations" id="destinations">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    {% comment %} <div class="section_subtitle">simply amazing places</div> {% endcomment %}
                    <div class="section_title">
                        <h2>your search results for "{{query}}"</h2>
                    </div>
                </div>
            </div>
            
            <div  class="row destinations_row">
                <div class="col">
                    <div  class="destinations_container item_grid">
                    {% if dests %} 
                        {% for des in dests %}
        
                        <!-- Destination -->
                        <div id="id01" class="destination item">
                            <div class="destination_image">
                                <a href="destination_details/{{des.id}}"><img src="{{des.pkg_pic.url}}" alt="image" style="height: 300px;
                                    width: 100%;
                                    object-fit: cover;"></a>
                                {% if des.Domestic %}
                                <div class="spec_offer text-center"><a href="destination_details/{{des.id}}">Special
                                    Offer</a></div>
                                {% endif %}
                            </div>
                            <div class="destination_content">
                                <div class="destination_title"><a href="destination_details/{{des.id}}">{{des.pkg_title}}
                                    <h5>{{des.pkg_days}}D/{{des.pkg_night|add:"-1"}}N</h5>
                                </a></div>
                                <div class="destination_subtitle">
                                    <a href="destination_details/{{des.id}}">
                                        {% if des.pkg_dec|length > 95 %}
                                        <p>{{des.pkg_dec|slice:95}}...</p>
                                        {% else %}
                                        <p>{{des.pkg_dec}}</p>
                                        {% endif %}
                                    </a>
                                </div>
                                <a href="destination_details/{{des.id}}">
                                    <div class="destination_price text-primary" style="font-style:20px;">Rs. {{des.pkg_price}}</div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                            <h4>Your search - <b>{{query}}</b> - did not match any results.</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
            
        </div>
    </div>

{% endblock content %}
    